<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis rerum aut asperiores repudiandae, adipisci, nulla blanditiis voluptatem esse error rem incidunt quia temporibus dolores ipsum nisi aperiam laborum accusantium quasi explicabo! Odit voluptas cupiditate sed dignissimos praesentium animi nemo libero placeat aliquid eos. Autem, necessitatibus soluta esse doloremque quo asperiores!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis rerum aut asperiores repudiandae, adipisci, nulla blanditiis voluptatem esse error rem incidunt quia temporibus dolores ipsum nisi aperiam laborum accusantium quasi explicabo! Odit voluptas cupiditate sed dignissimos praesentium animi nemo libero placeat aliquid eos. Autem, necessitatibus soluta esse doloremque quo asperiores!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis rerum aut asperiores repudiandae, adipisci, nulla blanditiis voluptatem esse error rem incidunt quia temporibus dolores ipsum nisi aperiam laborum accusantium quasi explicabo! Odit voluptas cupiditate sed dignissimos praesentium animi nemo libero placeat aliquid eos. Autem, necessitatibus soluta esse doloremque quo asperiores!</p>
  </div>
</div>